pkgbase = xfux
	pkgdesc = XFCE, but with animations and shadows. By OneDevelopment
	pkgver = 2.1
	pkgrel = 2
	arch = any
	depends = xfce4-panel
	depends = xfce4-session
	depends = xfdesktop
	depends = picom-pijulius-git
	depends = python-pillow
	depends = tk
	source = xfux.desktop
	source = xfux-logo.png
	source = xfux-session
	source = xfce4-panel-style.tar.bz2
	source = xfce4-desktop.xml
	source = xfux-wallpaper.png
	source = picom.conf
	source = xfux-splash
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = xfux
